<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/agreementCount.css">
    <script type="text/javascript" src="/js/functions.js"></script>
    <title>Agreements</title>
</head>

<body>
    <div class="loader">
        <img src="/gifs/loading.gif" alt="Loading..." />
    </div>
    <main>
        <table id='usersTable' style="border: solid black 1px;"></table>
    </main>
    
</body>

</html>